* {
  font-family: PT Sans, Georgia, 'Times New Roman', Times, serif;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 40vw;
  height: 100vh;
  background-image: url('/images/photo-1668960712327-8c809580cd1b.avif');
}

.title {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  padding: 15px 0;
}

h1 {
  color: white;
  font-size: 60px;
}
/* /////////////////////////////////////////*/

.right {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  justify-content: center;
  background-color: antiquewhite;
  
}

.about {
  font-size: 40px;
  font-weight: 600;
  width: 1200px;
  margin-bottom: 100px;
  padding-left: 3vw;
}

.description_add {
  margin: 40px 0 80px;
}
h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 40px;
  width: 100%;
}

.form {
  padding-left: 3vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgb(250, 235, 215);
  box-shadow: 0 10px 20px -2px rgb(228, 201, 166);
}

label {
  display: block;
}
input {
  width: 500px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  background-color: rgb(219, 197, 168);
}

input:focus {
  outline: none;
  border-bottom: 1px solid  rgb(74, 73, 73);
}
.button{
 padding-left: 3vw; 
}

button {
  font-size: 25px;
  padding: 20px 50px;
  background-color: rgb(225, 156, 67);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 40px;
}

button:hover{
background-color: rgb(210, 128, 21);
}

footer{
  padding-left:3vw ;
}

h2 {
  font-size: 25px;
}
a {
  color: rgb(225, 156, 67);
  text-decoration: none;
}

a:hover{
  color: rgb(210, 128, 21);
  border-bottom: 1px solid black;
}